@use "~@/scss/theme";
@use "~@/scss/mixins" as *;
@use "~@/scss/components/Hamburger" as hamburger;

$pad: 1.5em;
$dpad: .3em;
$transition: .3s ease-in-out;

.menu{
	width: 100vw;
	height: 100vh;

	position: fixed;
	top: 0;
	z-index: 20;
	pointer-events: none;

	&__content{
		background-color: theme.$primary;
		width: 100%;
		height: 100%;
		transition: $transition;

		&--opacity{
			opacity: 0;
			transition-property: opacity;
		}

		&--shape{
			position: absolute;
			bottom: 0;
			right: 0;
			width: calc(#{hamburger.$width} + #{$pad});
			height: calc(#{hamburger.$height} + #{$pad});
			@include radiusTL;

			transition-property: width, height, border-radius;
		}
        
        &--mask{
            position: static;
            @include trbl;
            
            clip-path: circle(0 at 100% 100%);
            pointer-events: none;
            
            transition-property: clip-path;
        }
	}

	&__opener{
		pointer-events: all;
		position: absolute;
		bottom: 0;
		right: 0;

		background-color: theme.$primary;

		@include padTL($pad);
		@include padBR($pad / 4);
		@include radiusTL;

		transition: $transition;
		transition-property: border-radius, padding;

		&:hover{
			@include padTL($pad + $dpad);
			@include padBR($pad/4 + $dpad);
		}
	}

	&__button{
		transform: rotate(45deg);
		transition: transform $transition;
		will-change: rotate;
	}

	&.opened{
		pointer-events: all;
		.menu{
			&__opener{
				border-radius: 0;
				padding: 0;
				@include padBR(.5em);
			}

			&__button{
				transform: rotate(0);
			}

			&__content{
				&--opacity{
					opacity: 1;
				}

				&--shape{
					width: 100vw;
					height: 100vh;
					border-radius: 0;
				}
                
                &--mask{
                    clip-path: circle(200% at 100% 100%);
                    pointer-events: auto;
                }
			}
		}
	}

	//// <DEMO>
	&__nav{
		height: 100%;
	}

	&__list{
		list-style-type: none;
		height: 100%;

		@include flex;
		flex-direction: column;

		&-item{
			width: 100%;
			height: 10vh;
			color: theme.$white;

			@include flex;

			font-weight: bold;
			text-transform: uppercase;
			font-size: 1.5rem;

			a{
				color: inherit;
			}
		}
	}
	//// </DEMO>
}

.menu--round{
	$padding: $pad/4;
	$vpad: $padding * 2;
	$hpad: $padding;

	.menu{
		&__opener, &__content--shape{
			@include radius;
		}

		&__opener{
			bottom: $padding;
			right: $padding;

			@include verticalPadding($vpad);
			@include horizontalPadding($hpad);
		}

		&__content{
			&--shape{
				bottom: $vpad;
				right: $vpad;

				width: calc(#{hamburger.$width} + #{$hpad});
				height: calc(#{hamburger.$height} + #{$vpad});
			}
		}

		&__button{
			transform: none;
		}
	}

	&.opened{
		.menu{
			&__opener{
				@include verticalPadding($vpad);
				@include horizontalPadding($hpad);
			}

			&__content{
				&--shape{
					bottom: 0;
					right: 0;
				}
			}
		}
	}
}